* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* paleta de colores
#0762D9
#038C73
#D2D904
#D9CB04
*/
/*fuentes
font-family: 'Anton', sans-serif;
font-family: 'Montserrat', sans-serif;
*/

/*Inicio Estilos Generales*/

body {
  background-color: rgba(222, 219, 215, 0.306);
}

body h2 h3 h4 h5 h6 {
  font-family: "Anton", sans-serif;
}

body h1 {
  font-size: 1.875rem;
  font-family: "Anton", sans-serif;
  text-align: center;
}

body p {
  font-family: "Montserrat", sans-serif;
}

/*Fin Estilos Generales*/

/* ESTILOS HEADER*/

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
}

.navBar {
  display: flex;
  list-style: none;
  gap: 10px;
}

.navBar li a {
  text-decoration: none;
  background-color: #d2d904;
  color: black;
  padding: 0.3125rem;
  border: 0.0625rem solid black;
  margin: 0.125rem;
}

header {
  background-image: url("../assets/portada\ aeropuerto.png");
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 37.5rem;
  background-position: center;
  display: flex;
  justify-content: flex-end;
}

header h1 {
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 25%;
  bottom: 50%;
  right: 25%;
  color: aliceblue;
  transform: translate(-50% -50%);
  text-shadow: 0 0 8px rgba(18, 17, 17, 0.8);
}

/* FIN ESTILOS HEADER*/

/*inicio titulo principal*/

.tituloPrincipal {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 3.125rem;
  background-color: #d2d904;
}

.tituloPrincipal button {
  background-color: #24CC63;
  width: 200px;
  height: 50px;
  margin: 30px;

}

.tituloPrincipal a {
  text-decoration: none;
  color: #fbfcfc;
}

.tituloPrincipal h3 {
  font-size: 18px;

}


/*fin titulo principal*/

/*-------------ESTILOS MAIN----   */

.item {
  width: 350px;
  height: 100%;
  text-align: center;
  margin: 10px;
}

.item img {
  width: 350px;
  height: 100%;
  border-radius: 15%;
  box-shadow: 5px 8px 12px rgb(80, 77, 77);
}

.flex-container {
  background-color: #fbfcfc;
  width: 100%;
  height: 100%;
  padding: 50px;
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  justify-content: space-between;
}

.titulo-ofertas {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 3.125rem;
  background-color: #d2d904;
}

.btn-whatsapp{
  display: flex;
  align-items: center;
  justify-content: center;
}

/*------Inicio Footer-------------*/

footer {
  width: 100%;
  height: 400px;
  background-color: black;
  color: #d2d904;
  text-align: center;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
 }

.footer-flex{
  width:300px;
  height:100%;
  
 }

 .footer-flex p{
  margin-top: 100px;
 }



/* INICIO ESTILO PAG TRASLADOS*/

.header-traslados {
  background-image: url(../assets/portada-traslados.png);
}
.contenedor-galeria{
  width: 100%;
  height: auto;
}
.contenedor-galeria h2 {
  text-align: center;
  color: #5d09e3;
  font-size: 25px;
}

.section-ofertas {
  width: 100%;
  height: 150px;
  background-color: #0f0f0e;
  text-align: center;
}

.btn-reserva {
  width: 100px;
  height: 50px;
  background-color: crimson;
  text-align: center;
  color: #fbfcfc;
  border-radius: 10%;
  border-color: #fbfcfc;
  margin-top: 30px;
}


.contenedor-grid {
  width: 100%;
  height: 100%;
}

.serv img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contenedor-grid {
  display: grid;
  grid-auto-rows: 150px;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  margin: 20px;
  padding: 20px;
  column-gap: 5px;
  row-gap: 5px;

}


.serv:nth-child(1) {
  grid-row-start: span 3;
  grid-column-start: span 1;
}

.serv:nth-child(2) {
  grid-row-start: span 2;
  grid-column-start: span 1;
}

.serv:nth-child(4) {
  grid-row-start: span 3;
  grid-column-start: span 1;
}

.serv:nth-child(5) {
  grid-row-start: span 2;
  grid-column-start: span 1;
}


.tituloHoteles h2 {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #0f0f0e;
  color: #d2d904;
}

.tituloHoteles p {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #5d09e3;
  color: aliceblue;
}

.tituloHoteles {
  margin-top: 10px;
}

footer{
  width: 100%;
  height: auto;
}
/* media queries pagina traslados */

@media (max-width: 1024px) {}

@media (max-width: 768px) {}

@media (max-width: 425px) {
  .btn-reserva {
    width: 100px;
    height: 30px;
    background-color: crimson;
    text-align: center;
    color: #fbfcfc;
    border-radius: 10%;
    border-color: #fbfcfc;

  }
}

@media (max-width: 375px){
  .contenedor-grid {
    width: 320px;
    height: auto;
    display: grid;
    grid-auto-rows: 100px;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    margin: 20px;
    padding: 20px;
    column-gap: 5px;
    row-gap: 5px;
  }
  
}

@media (max-width: 320px) {
  .btn-reserva {
    display: none;
  }

  .contenedor-grid {
    width: 320px;
    height: auto;
    display: grid;
    grid-auto-rows: 100px;
    grid-template-columns: repeat(auto-fill, minmax(10rem));
    margin: 20px;
    padding: 20px;
    column-gap: 5px;
    row-gap: 5px;
  }

  .serv{
    width: 320px;
    height: auto;
    padding-right: 30px;
    padding-left: 0px;
  }


  .serv:nth-child(1) {
    grid-row-start: span 1;
    grid-column-start: span 1;
  }
  
  .serv:nth-child(2) {
    grid-row-start: span 1;
    grid-column-start: span 1;
  }
  
  .serv:nth-child(4) {
    grid-row-start: span 1;
    grid-column-start: span 1;
  }
  
  .serv:nth-child(5) {
    grid-row-start: span 1;
    grid-column-start: span 1;
  }

  footer{
    width: 320px;
    height: auto;
  }

  .tituloHoteles{
    font-size: 18px;
  }
}








/* FIN ESTILOS PAG TRASLADOS */

/*---estilo contacto*/

.mainContactos {
  background-color: aqua;
}

.mainContactos h1 {
  text-align: center;
  text-decoration: underline;
}

/*----INICIO PAG INFO UTIL----*/

.infoUtil ol {
  list-style-type: decimal;
  list-style-position: inside;
  text-align: left;
  color: #038c73;
}

.infoUtil ul {
  list-style-type: circle;
  list-style-position: inside;
  text-align: left;
  color: #038c73;
}

.infoUtil dt {
  text-decoration: underline;
}

/*----FIN PAG INFO UTIL----*/



/* media queries generales */

@media (max-width: 1024px) {
  .container-grid {
    width: 1024px;
    height: auto;
    padding: 10px;
  }
}

nav {
  padding: 10px 60px 10px 10px;
}

/* fin media queries generales */

/* media queries inicio */

@media (max-width: 1024px) {
  .item {
    width: 280px;
    height: 100%;
    text-align: center;
  }

  .item img {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  nav ul {
    padding-top: 15px;
  }

  .flex-container {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
  }

  .item {
    width: 500px;
    height: 100%;
    padding: 10px;
  }

  .item img {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 425px) {
  header {
    background-image: url(../assets/familia\ aeropuerto\ pequeña.png);
    object-fit: cover;
    height: 650px;
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px;
  }

  .navBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .navBar li {
    padding: 5px;
    font-size: 20px;
  }

  header h1 {
    top: 55%;
    left: 25%;
    bottom: 50%;
    right: 25%;
    padding: 10px;
    font-size: 35px;
  }

  .item {
    width: 425px;
    height: 100%;
    padding: 10px;
  }

  .item img {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 375px) {
  .item {
    width: 375px;
    height: 100%;
    padding: 10px;
  }

  .item img {
    width: 100%;
    height: 100%;
  }

  .navBar li {
    padding: 5px;
    font-size: 20px;
  }
}

@media (max-width: 320px) {
  .item {
    width: 320px;
    height: 100%;
    padding: 10px;
  }

  .item img {
    width: 100%;
    height: 100%;
  }

  .navBar li {
    padding: 5px;
    font-size: 18px;
  }

  header h1 {
    top: 55%;
    left: 25%;
    bottom: 50%;
    right: 25%;
    padding: 10px;
    font-size: 30px;
  }
}