@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* paleta de colores
  #0762D9
  #038C73
  #D2D904
  #D9CB04
  */
/*fuentes
  font-family: 'Anton', sans-serif;
  font-family: 'Montserrat', sans-serif;
  */
body h1 {
  font-size: 1.875rem;
  font-family: "Anton", sans-serif; }

body h2 h3 h4 h5 h6 p {
  font-family: "Anton", sans-serif; }

header {
  background-image: url("../assets/portada aeropuerto.png");
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 37.5rem;
  background-position: center;
  display: flex; }
  header h1 {
    font-size: 40px;
    position: absolute;
    top: 50%;
    right: 25%;
    left: 25%;
    color: aliceblue;
    transform: translate(-50% -50%);
    text-shadow: 0 0 8px rgba(18, 17, 17, 0.8); }
  header nav {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    position: absolute;
    padding: 10px 60px 10px 10px;
    background-color: black;
    justify-content: space-between; }
    header nav a {
      text-decoration: none;
      font-weight: 700; }
    header nav .logo {
      display: flex;
      align-items: center; }
      header nav .logo .nombre-empresa {
        color: white; }
      header nav .logo img {
        height: 50px;
        margin-right: 10px; }
    header nav .navBar {
      display: flex;
      text-decoration: none;
      justify-content: center;
      gap: 10px; }
      header nav .navBar li a {
        text-decoration: none;
        color: white;
        padding: 0.3125rem;
        margin: 0.125rem;
        font-size: 20px; }
      header nav .navBar li a:hover {
        color: #F18A00; }

/*MEDIA QUERIES HEADER*/
@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    padding: 10px; }
  .menu-principal {
    margin-top: 20px; } }

@media (max-width: 425px) {
  header .logo {
    margin-right: 45px; }
  header .navBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 50px; }
  header h1 {
    font-size: 20px;
    margin-right: 50px;
    text-align: center; } }

.tituloPrincipal {
  width: 100%;
  height: 200px;
  text-align: center;
  padding: 3.125rem;
  background-color: black; }
  .tituloPrincipal h2 {
    font-size: 2.5rem;
    color: #F18A00; }
  .tituloPrincipal .btn-whatsapp {
    display: flex;
    align-items: center;
    justify-content: center; }
    .tituloPrincipal .btn-whatsapp :hover {
      background-color: white;
      color: #F18A00; }
    .tituloPrincipal .btn-whatsapp button {
      background-color: transparent;
      width: 200px;
      height: 50px;
      margin: 30px;
      box-sizing: content-box;
      border: solid white 4px;
      padding: 2px; }
      .tituloPrincipal .btn-whatsapp button p {
        text-align: center;
        color: white;
        font-size: 1.25rem; }
      .tituloPrincipal .btn-whatsapp button a {
        text-decoration: none;
        color: white; }

.titulo-ofertas {
  width: 100%;
  height: 170px;
  text-align: center;
  padding: 10px;
  background-color: black; }
  .titulo-ofertas h2 {
    color: #F18A00;
    font-size: 40px; }
  .titulo-ofertas p {
    color: #F18A00;
    font-size: 1.875rem; }

.flex-container {
  background-color: #fbfcfc;
  width: 100%;
  height: 100%;
  padding: 50px;
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  justify-content: center; }
  .flex-container .item {
    width: 400px;
    height: 100%;
    text-align: center;
    margin: 10px; }
    .flex-container .item img {
      width: 100%;
      height: 100%;
      border-radius: 15%;
      box-shadow: 5px 8px 12px #504d4d; }
  .flex-container h3 {
    font-size: 30px; }
  .flex-container p {
    font-size: 25px; }

/*MEDIA QUERIES PAGINA INICIO*/
@media (max-width: 1024px) {
  .item {
    width: 280px;
    height: 100%;
    text-align: center; }
    .item img {
      width: 100%;
      height: 100%; } }

@media (max-width: 768px) {
  .flex-container {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center; }
  .item {
    width: 600px;
    height: 100%;
    padding: 10px; }
    .item h3 {
      font-size: 35px; }
    .item p {
      font-size: 25px; }
    .item img {
      width: 100%;
      height: 100%; }
  .tituloPrincipal {
    width: 100%;
    height: 250px;
    text-align: center;
    padding: 3.125rem;
    background-color: black; }
    .tituloPrincipal h2 {
      font-size: 35px;
      color: #F18A00; }
  .titulo-ofertas {
    width: 100%;
    height: 170px;
    text-align: center;
    padding: 10px;
    background-color: black; }
    .titulo-ofertas h2 {
      color: #F18A00;
      font-size: 35px; }
    .titulo-ofertas p {
      color: #F18A00;
      font-size: 25px; } }

@media (max-width: 425px) {
  header {
    background-image: url("../assets/familia aeropuerto pequeña.png");
    object-fit: cover; }
    header h1 {
      top: 55%;
      left: 25%;
      bottom: 50%;
      right: 25%;
      padding: 10px;
      font-size: 35px; }
  .item {
    width: 425px;
    height: 100%;
    padding: 10px; }
    .item img {
      width: 100%;
      height: 100%; }
  .tituloPrincipal {
    width: 100%;
    height: 300px;
    text-align: center;
    padding: 3.125rem;
    background-color: black; }
    .tituloPrincipal h2 {
      font-size: 1.875rem;
      color: #F18A00; }
  .titulo-ofertas {
    width: 100%;
    height: 170px;
    text-align: center;
    padding: 10px;
    background-color: black; }
    .titulo-ofertas h2 {
      color: #F18A00;
      font-size: 30px; }
    .titulo-ofertas p {
      color: #F18A00;
      font-size: 25px; } }

@media (max-width: 375px) {
  .item {
    width: 375px;
    height: 100%;
    padding: 10px; }
    .item img {
      width: 100%;
      height: 100%; } }

@media (max-width: 320px) {
  .item {
    width: 320px;
    height: 100%;
    padding: 10px; }
    .item img {
      width: 100%;
      height: 100%; } }

footer {
  width: 100%;
  height: auto;
  background-color: black;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center; }
  footer p {
    font-size: 18px;
    color: white;
    text-align: center;
    padding-top: 50%;
    padding-bottom: 50%; }
  footer .items {
    width: 15.625rem;
    height: 100%; }

/*MEDIA QUERIES FOOTER*/
@media (max-width: 425px) {
  footer {
    width: 100%;
    height: 600px;
    background-color: black;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center; }
    footer .items {
      width: 425px;
      height: 200px; }
      footer .items p {
        font-size: 20px;
        color: white;
        padding: 80px; } }

header {
  background-image: url("../assets/portada aeropuerto.png");
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 37.5rem;
  background-position: center;
  display: flex; }
  header h1 {
    font-size: 40px;
    position: absolute;
    top: 50%;
    right: 25%;
    left: 25%;
    color: aliceblue;
    transform: translate(-50% -50%);
    text-shadow: 0 0 8px rgba(18, 17, 17, 0.8); }
  header nav {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    position: absolute;
    padding: 10px 60px 10px 10px;
    background-color: black;
    justify-content: space-between; }
    header nav a {
      text-decoration: none;
      font-weight: 700; }
    header nav .logo {
      display: flex;
      align-items: center; }
      header nav .logo .nombre-empresa {
        color: white; }
      header nav .logo img {
        height: 50px;
        margin-right: 10px; }
    header nav .navBar {
      display: flex;
      text-decoration: none;
      justify-content: center;
      gap: 10px; }
      header nav .navBar li a {
        text-decoration: none;
        color: white;
        padding: 0.3125rem;
        margin: 0.125rem;
        font-size: 20px; }
      header nav .navBar li a:hover {
        color: #F18A00; }

/*MEDIA QUERIES HEADER*/
@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    padding: 10px; }
  .menu-principal {
    margin-top: 20px; } }

@media (max-width: 425px) {
  header .logo {
    margin-right: 45px; }
  header .navBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 50px; }
  header h1 {
    font-size: 20px;
    margin-right: 50px;
    text-align: center; } }

.tituloPrincipal {
  width: 100%;
  height: 200px;
  text-align: center;
  padding: 3.125rem;
  background-color: black; }
  .tituloPrincipal h2 {
    font-size: 2.5rem;
    color: #F18A00; }
  .tituloPrincipal .btn-whatsapp {
    display: flex;
    align-items: center;
    justify-content: center; }
    .tituloPrincipal .btn-whatsapp :hover {
      background-color: white;
      color: #F18A00; }
    .tituloPrincipal .btn-whatsapp button {
      background-color: transparent;
      width: 200px;
      height: 50px;
      margin: 30px;
      box-sizing: content-box;
      border: solid white 4px;
      padding: 2px; }
      .tituloPrincipal .btn-whatsapp button p {
        text-align: center;
        color: white;
        font-size: 1.25rem; }
      .tituloPrincipal .btn-whatsapp button a {
        text-decoration: none;
        color: white; }

.titulo-ofertas {
  width: 100%;
  height: 170px;
  text-align: center;
  padding: 10px;
  background-color: black; }
  .titulo-ofertas h2 {
    color: #F18A00;
    font-size: 40px; }
  .titulo-ofertas p {
    color: #F18A00;
    font-size: 1.875rem; }

.flex-container {
  background-color: #fbfcfc;
  width: 100%;
  height: 100%;
  padding: 50px;
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  justify-content: center; }
  .flex-container .item {
    width: 400px;
    height: 100%;
    text-align: center;
    margin: 10px; }
    .flex-container .item img {
      width: 100%;
      height: 100%;
      border-radius: 15%;
      box-shadow: 5px 8px 12px #504d4d; }
  .flex-container h3 {
    font-size: 30px; }
  .flex-container p {
    font-size: 25px; }

/*MEDIA QUERIES PAGINA INICIO*/
@media (max-width: 1024px) {
  .item {
    width: 280px;
    height: 100%;
    text-align: center; }
    .item img {
      width: 100%;
      height: 100%; } }

@media (max-width: 768px) {
  .flex-container {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center; }
  .item {
    width: 600px;
    height: 100%;
    padding: 10px; }
    .item h3 {
      font-size: 35px; }
    .item p {
      font-size: 25px; }
    .item img {
      width: 100%;
      height: 100%; }
  .tituloPrincipal {
    width: 100%;
    height: 250px;
    text-align: center;
    padding: 3.125rem;
    background-color: black; }
    .tituloPrincipal h2 {
      font-size: 35px;
      color: #F18A00; }
  .titulo-ofertas {
    width: 100%;
    height: 170px;
    text-align: center;
    padding: 10px;
    background-color: black; }
    .titulo-ofertas h2 {
      color: #F18A00;
      font-size: 35px; }
    .titulo-ofertas p {
      color: #F18A00;
      font-size: 25px; } }

@media (max-width: 425px) {
  header {
    background-image: url("../assets/familia aeropuerto pequeña.png");
    object-fit: cover; }
    header h1 {
      top: 55%;
      left: 25%;
      bottom: 50%;
      right: 25%;
      padding: 10px;
      font-size: 35px; }
  .item {
    width: 425px;
    height: 100%;
    padding: 10px; }
    .item img {
      width: 100%;
      height: 100%; }
  .tituloPrincipal {
    width: 100%;
    height: 300px;
    text-align: center;
    padding: 3.125rem;
    background-color: black; }
    .tituloPrincipal h2 {
      font-size: 1.875rem;
      color: #F18A00; }
  .titulo-ofertas {
    width: 100%;
    height: 170px;
    text-align: center;
    padding: 10px;
    background-color: black; }
    .titulo-ofertas h2 {
      color: #F18A00;
      font-size: 30px; }
    .titulo-ofertas p {
      color: #F18A00;
      font-size: 25px; } }

@media (max-width: 375px) {
  .item {
    width: 375px;
    height: 100%;
    padding: 10px; }
    .item img {
      width: 100%;
      height: 100%; } }

@media (max-width: 320px) {
  .item {
    width: 320px;
    height: 100%;
    padding: 10px; }
    .item img {
      width: 100%;
      height: 100%; } }

.header-traslados {
  background-image: url(../assets/portada-traslados.png); }

main .titulos-galeria {
  background-color: #0f0f0e;
  width: 100%;
  height: 150px;
  padding: 10px; }
  main .titulos-galeria h1 {
    color: darkorange;
    text-align: center;
    font-size: 40px; }
  main .titulos-galeria h2 {
    color: #fbfcfc;
    font-size: 30px; }

main .contenedor-galeria {
  width: 100%;
  height: auto; }

main .section-ofertas {
  width: 100%;
  height: 150px;
  background-color: #0f0f0e;
  text-align: center; }
  main .section-ofertas h2 {
    text-align: center;
    color: #5d09e3;
    font-size: 25px; }

main button {
  width: 200px;
  height: 50px;
  background-color: crimson;
  margin-top: 30px;
  color: #fbfcfc; }

main .serv img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

main .contenedor-grid {
  display: grid;
  grid-auto-rows: 150px;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  margin: 20px;
  padding: 20px;
  column-gap: 5px;
  row-gap: 5px; }
  main .contenedor-grid .serv:nth-child(1) {
    grid-row-start: span 3;
    grid-column-start: span 1; }
  main .contenedor-grid .serv:nth-child(2) {
    grid-row-start: span 2;
    grid-column-start: span 1; }
  main .contenedor-grid .serv:nth-child(4) {
    grid-row-start: span 3;
    grid-column-start: span 1; }
  main .contenedor-grid .serv:nth-child(5) {
    grid-row-start: span 2;
    grid-column-start: span 1; }

main .tituloHoteles {
  margin-top: 10px; }
  main .tituloHoteles h2 {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #0f0f0e;
    color: #d2d904; }
  main .tituloHoteles p {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #5d09e3;
    color: aliceblue; }

/*MEDIA QUERIES PAGINA TRASLADOS*/
@media (max-width: 425px) {
  .section-ofertas h2 {
    font-size: 20px; }
    .section-ofertas h2 button {
      width: 100px;
      height: 50px;
      background-color: crimson;
      margin-bottom: 300px; } }

@media (max-width: 375px) {
  .contenedor-grid {
    width: 320px;
    height: auto;
    display: grid;
    grid-auto-rows: 100px;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    margin: 20px;
    padding: 20px;
    column-gap: 5px;
    row-gap: 5px; } }

@media (max-width: 320px) {
  .btn-reserva {
    display: none; }
  .contenedor-grid {
    width: 320px;
    height: auto;
    display: grid;
    grid-auto-rows: 100px;
    grid-template-columns: repeat(auto-fill, minmax(10rem));
    margin: 20px;
    padding: 20px;
    column-gap: 5px;
    row-gap: 5px; }
  .serv {
    width: 320px;
    height: auto;
    padding-right: 30px;
    padding-left: 0px; }
  .serv:nth-child(1) {
    grid-row-start: span 1;
    grid-column-start: span 1; }
  .serv:nth-child(2) {
    grid-row-start: span 1;
    grid-column-start: span 1; }
  .serv:nth-child(4) {
    grid-row-start: span 1;
    grid-column-start: span 1; }
  .serv:nth-child(5) {
    grid-row-start: span 1;
    grid-column-start: span 1; }
  .tituloHoteles {
    font-size: 18px; } }

.titulo-excursiones {
  background-color: #0f0f0e;
  text-align: center;
  color: #d2d904;
  font-size: 20px; }

main .caja {
  width: 100%;
  height: auto;
  padding: 20px; }
  main .caja p {
    text-align: center;
    color: #5d09e3;
    font-size: 25px; }

main form {
  width: 100%;
  height: 100%;
  background-color: black;
  padding: 30px; }
  main form input {
    width: 100%;
    font-size: 20px;
    background-color: transparent;
    border: none;
    border-bottom: 4px solid white;
    color: white; }
  main form textarea {
    width: 100%;
    font-size: 20px;
    background-color: transparent;
    border: none;
    border-bottom: 4px solid white;
    color: white; }
  main form input::placeholder {
    color: #fbfcfc; }
  main form textarea::placeholder {
    color: #fbfcfc; }
  main form textarea::placeholder {
    color: #fbfcfc; }
  main form #inviar {
    background-color: #d2d904;
    font-size: 25px;
    border: 2px solid white;
    padding: 5px; }

.titulos {
  background-color: #0f0f0e;
  color: #d2d904;
  text-align: center;
  font-size: 20px; }

h3 {
  background-color: #5d09e3;
  color: #fbfcfc;
  font-size: 18px; }

.infoUtil ol {
  list-style-type: decimal;
  list-style-position: inside;
  text-align: left;
  color: #038c73; }
  .infoUtil ol ul {
    list-style-type: circle;
    list-style-position: inside;
    text-align: left;
    color: #038c73; }
  .infoUtil ol dt {
    text-decoration: underline; }
