/*COLORES*/
/*FONT FAMILY*/
/*FONT SIZES*/
/*FONT WEIGHTS*/
.tracking-in-expand {
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation-iteration-count: infinite; }

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0; }
  40% {
    opacity: 0.6; }
  100% {
    opacity: 1; } }

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0; }
  40% {
    opacity: 0.6; }
  100% {
    opacity: 1; } }

@media (max-width: 1024px) {
  /*MEDIA QUERIES PAGINA INICIO*/
  .item {
    width: 280px;
    height: 100%;
    text-align: center; }
    .item img {
      width: 100%;
      height: 100%; } }

@media (max-width: 768px) {
  /*MEDIA QUERIES HEADER*/
  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    nav .navBar {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-decoration: none; }
    nav .menu-principal {
      font-size: 1.25rem;
      margin-top: 10px; }
  /*MEDIA QUERIES PAGINA INICIO*/
  main .tituloPrincipal {
    height: 300px; }
    main .tituloPrincipal .sub-titulo {
      font-size: 1rem;
      padding-bottom: 20px; }
  main .flex-container {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center; }
    main .flex-container h3 {
      background-color: black; }
    main .flex-container p {
      font-style: italic;
      font-weight: 800; }
  main .titulo-ofertas {
    height: 100px; }
    main .titulo-ofertas h2 {
      font-size: 40px; }
    main .titulo-ofertas p {
      color: white; }
  /*MEDIA QUERIES PAGINA TRASLADOS*/
  .contenedor-galeria .titulos-galeria {
    height: 100px; }
    .contenedor-galeria .titulos-galeria h2 {
      color: darkgoldenrod;
      text-align: center; } }

/*MEDIA QUERIES PAGINA TRASLADOS*/
@media (max-width: 375px) {
  .contenedor-grid {
    width: 320px;
    height: auto;
    display: grid;
    grid-auto-rows: 100px;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    margin: 20px;
    padding: 20px;
    column-gap: 5px;
    row-gap: 5px; } }

@media (max-width: 320px) {
  .btn-reserva {
    display: none; }
  .contenedor-grid {
    width: 320px;
    height: auto;
    display: grid;
    grid-auto-rows: 100px;
    grid-template-columns: repeat(auto-fill, minmax(10rem));
    margin: 20px;
    padding: 20px;
    column-gap: 5px;
    row-gap: 5px; }
  .serv {
    width: 320px;
    height: auto;
    padding-right: 30px;
    padding-left: 0px; }
  .serv:nth-child(1) {
    grid-row-start: span 1;
    grid-column-start: span 1; }
  .serv:nth-child(2) {
    grid-row-start: span 1;
    grid-column-start: span 1; }
  .serv:nth-child(4) {
    grid-row-start: span 1;
    grid-column-start: span 1; }
  .serv:nth-child(5) {
    grid-row-start: span 1;
    grid-column-start: span 1; }
  .tituloHoteles {
    font-size: 18px; } }

/*MEDIA QUERIES FOOTER*/
@media (max-width: 425px) {
  footer {
    width: 100%;
    height: 600px;
    background-color: black;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center; }
    footer .items {
      width: 425px;
      height: 200px; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  color-scheme: light;
  scroll-behavior: smooth; }

html,
body {
  overflow-y: auto;
  overflow-x: hidden; }

body {
  position: relative;
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  background-color: #E4E4E4; }
  body p {
    font-family: "Roboto Serif", serif;
    font-size: 1rem; }
  body h1,
  body h2,
  body h3,
  body h4,
  body h5,
  body h6 {
    font-family: "Gabarito", sans-serif; }
  body h1 {
    font-size: 1.875rem;
    font-weight: 900; }
  body h2 {
    font-size: 1.25rem;
    font-weight: 400; }
  body header .navBar {
    align-items: center;
    text-decoration: none;
    list-style: none; }
  body header a {
    font-family: "Gabarito", sans-serif; }
    body header a h2 {
      font-family: "Gabarito", sans-serif; }

header {
  background-image: url("../assets/portada aeropuerto.png");
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 37.5rem;
  background-position: center;
  display: flex; }
  header h1 {
    font-size: 40px;
    position: absolute;
    top: 50%;
    right: 25%;
    left: 25%;
    color: aliceblue;
    transform: translate(-50% -50%);
    text-shadow: 0 0 8px rgba(18, 17, 17, 0.8); }
  header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
    position: absolute;
    padding: 10px 60px 10px 10px;
    background-color: #000509; }
    header nav a {
      text-decoration: none;
      font-weight: 700; }
    header nav .logo {
      display: flex;
      align-items: center; }
      header nav .logo .nombre-empresa {
        color: white; }
      header nav .logo img {
        height: 50px;
        margin-right: 10px; }
    header nav .navBar {
      display: flex;
      text-decoration: none;
      justify-content: center;
      gap: 10px; }
      header nav .navBar li a {
        text-decoration: none;
        color: white;
        padding: 0.3125rem;
        margin: 0.125rem;
        font-size: 20px; }
      header nav .navBar li a:hover {
        color: #F18A00; }

.tituloPrincipal {
  width: 100%;
  height: 200px;
  text-align: center;
  padding: 3.125rem; }
  .tituloPrincipal .btn-general {
    display: flex;
    align-items: center;
    justify-content: center; }
    .tituloPrincipal .btn-general :hover {
      background-color: transparent;
      color: #030303; }
    .tituloPrincipal .btn-general button {
      background-color: transparent;
      width: 200px;
      height: 50px;
      margin: 30px;
      box-sizing: content-box;
      border: solid white 4px;
      padding: 2px; }
      .tituloPrincipal .btn-general button p {
        text-align: center;
        color: white;
        font-size: 1.25rem; }
      .tituloPrincipal .btn-general button a {
        text-decoration: none;
        color: white; }

.titulo-ofertas {
  width: 100%;
  height: 170px;
  text-align: center;
  padding: 10px;
  background-color: black; }
  .titulo-ofertas h2 {
    color: #F18A00;
    font-size: 40px; }
  .titulo-ofertas p {
    color: #F18A00;
    font-size: 1.875rem; }

.flex-container {
  background-color: #fbfcfc;
  width: 100%;
  height: 100%;
  padding: 50px;
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  justify-content: center; }
  .flex-container .item {
    width: 400px;
    height: 100%;
    text-align: center;
    margin: 10px; }
    .flex-container .item img {
      width: 100%;
      height: 100%;
      border-radius: 15%;
      box-shadow: 5px 8px 12px #504d4d; }
  .flex-container h3 {
    font-size: 30px; }
  .flex-container p {
    font-size: 25px; }

.header-traslados {
  background-image: url(../assets/portada-traslados.png); }

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  position: absolute;
  padding: 10px 60px 10px 10px;
  background-color: #000509; }

main .titulos-galeria {
  background-color: #0f0f0e;
  width: 100%;
  height: 150px;
  padding: 10px; }
  main .titulos-galeria h1 {
    color: darkorange;
    text-align: center;
    font-size: 40px; }
  main .titulos-galeria h2 {
    color: #fbfcfc;
    font-size: 30px; }

main .contenedor-galeria {
  width: 100%;
  height: auto; }

main .section-ofertas {
  width: 100%;
  height: 200px;
  background-color: #0f0f0e;
  text-align: center; }
  main .section-ofertas h2 {
    text-align: center;
    color: #fbfcfc;
    font-size: 30px; }

main .btn-reserva {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0f0f0e; }
  main .btn-reserva :hover {
    background-color: white;
    color: #F18A00; }
  main .btn-reserva button {
    background-color: transparent;
    width: 200px;
    height: 50px;
    margin: 30px;
    box-sizing: content-box;
    border: solid white 4px;
    padding: 2px; }
    main .btn-reserva button p {
      text-align: center;
      color: white;
      font-size: 1.25rem; }
    main .btn-reserva button a {
      text-decoration: none;
      color: white; }

main .serv img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

main .contenedor-grid {
  display: grid;
  grid-auto-rows: 150px;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  margin: 20px;
  padding: 20px;
  column-gap: 5px;
  row-gap: 5px; }
  main .contenedor-grid .serv:nth-child(1) {
    grid-row-start: span 3;
    grid-column-start: span 1; }
  main .contenedor-grid .serv:nth-child(2) {
    grid-row-start: span 2;
    grid-column-start: span 1; }
  main .contenedor-grid .serv:nth-child(4) {
    grid-row-start: span 3;
    grid-column-start: span 1; }
  main .contenedor-grid .serv:nth-child(5) {
    grid-row-start: span 2;
    grid-column-start: span 1; }

main .titulo-hoteles {
  width: 100%;
  height: 200px;
  margin-top: 100px; }
  main .titulo-hoteles h2 {
    text-align: center;
    background-color: #0f0f0e;
    color: #F18A00;
    font-size: 35px; }
  main .titulo-hoteles p {
    text-align: center;
    background-color: black;
    color: aliceblue;
    font-size: 30px; }

.titulo-excursiones {
  background-color: #0f0f0e;
  text-align: center;
  color: #d2d904;
  font-size: 20px; }

.titulos {
  background-color: #0f0f0e;
  color: #d2d904;
  text-align: center; }
  .titulos h1, .titulos h2 {
    font-size: 40px; }

h3 {
  background-color: red;
  color: #fbfcfc;
  font-size: 18px; }

.infoUtil ol {
  list-style-type: decimal;
  list-style-position: inside;
  text-align: left;
  color: #038c73; }
  .infoUtil ol ul {
    list-style-type: circle;
    list-style-position: inside;
    text-align: left;
    color: #038c73; }
  .infoUtil ol dt {
    text-decoration: underline; }

main .caja {
  width: 100%;
  height: auto;
  padding: 20px; }
  main .caja p {
    text-align: center;
    color: #5d09e3;
    font-size: 25px; }

main form {
  width: 100%;
  height: 100%;
  background-color: black;
  padding: 30px; }
  main form input {
    width: 100%;
    font-size: 20px;
    background-color: transparent;
    border: none;
    border-bottom: 4px solid white;
    color: white; }
  main form textarea {
    width: 100%;
    font-size: 20px;
    background-color: transparent;
    border: none;
    border-bottom: 4px solid white;
    color: white; }
  main form input::placeholder {
    color: #fbfcfc; }
  main form textarea::placeholder {
    color: #fbfcfc; }
  main form textarea::placeholder {
    color: #fbfcfc; }
  main form #inviar {
    background-color: #d2d904;
    font-size: 25px;
    border: 2px solid white;
    padding: 5px; }

footer {
  width: 100%;
  height: auto;
  background-color: black;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center; }
  footer p {
    font-size: 18px;
    color: white;
    text-align: center;
    padding-top: 50%;
    padding-bottom: 50%; }
  footer .items {
    width: 15.625rem;
    height: 100%; }
