@import "./header";

.header-traslados {
    background-image: url(../assets/portada-traslados.png);
}

main {

    .titulos-galeria {
        background-color: #0f0f0e;
        width: 100%;
        height: 150px;
        padding: 10px;

        h1 {
            color: darkorange;
            text-align: center;
            font-size: 40px;
        }

        h2 {
            color: #fbfcfc;
            font-size: 30px;

        }
    }


    .contenedor-galeria {
        width: 100%;
        height: auto;
    }

    .section-ofertas {
        width: 100%;
        height: 200px;
        background-color: #0f0f0e;
        text-align: center;

        h2 {
            text-align: center;
            color: #fbfcfc;
            font-size: 30px;
        }


    }

    .btn-reserva {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #0f0f0e;

        :hover {
            background-color: white;
            color: #F18A00;
        }

        button {
            background-color: transparent;
            width: 200px;
            height: 50px;
            margin: 30px;
            box-sizing: content-box;
            border: solid white 4px;
            padding: 2px;

            p {
                text-align: center;
                color: white;
                font-size: 1.25rem;
            }

            a {
                text-decoration: none;
                color: white;

            }

        }
    }

    .serv img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .contenedor-grid {
        display: grid;
        grid-auto-rows: 150px;
        grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
        margin: 20px;
        padding: 20px;
        column-gap: 5px;
        row-gap: 5px;

        .serv:nth-child(1) {
            grid-row-start: span 3;
            grid-column-start: span 1;
        }

        .serv:nth-child(2) {
            grid-row-start: span 2;
            grid-column-start: span 1;
        }

        .serv:nth-child(4) {
            grid-row-start: span 3;
            grid-column-start: span 1;
        }

        .serv:nth-child(5) {
            grid-row-start: span 2;
            grid-column-start: span 1;
        }

    }

    .titulo-hoteles {
        width: 100%;
        height: 200px;
        margin-top: 100px;

        h2 {
            text-align: center;
            background-color: #0f0f0e;
            color: #F18A00;
            font-size: 35px;

        }

        p {
            text-align: center;
            background-color: black;
            color: aliceblue;
            font-size: 30px;
        }
    }

}



/*MEDIA QUERIES PAGINA TRASLADOS*/

@media (max-width: 768px) {
    .flex-container {
        display: flex;
        flex-direction: column;
        align-content: space-around;
        align-items: center;

        .item {
            width: 600px;
            height: 100%;
            padding: 10px;

            h3 {
                font-size: 35px;
            }

            p {
                font-size: 25px;
            }

            img {
                width: 100%;
                height: 100%;
            }
        }
    }


}

@media (max-width: 425px) {

    main{

    .titulos-galeria{
        height: 250px;
    }

    .titulo-hoteles{
        h2{
            font-size: 30px;
            
        }
    }
    }
}

@media (max-width: 375px) {
    .contenedor-grid {
        width: 320px;
        height: auto;
        display: grid;
        grid-auto-rows: 100px;
        grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
        margin: 20px;
        padding: 20px;
        column-gap: 5px;
        row-gap: 5px;
    }

}

@media (max-width: 320px) {
    .btn-reserva {
        display: none;
    }

    .contenedor-grid {
        width: 320px;
        height: auto;
        display: grid;
        grid-auto-rows: 100px;
        grid-template-columns: repeat(auto-fill, minmax(10rem));
        margin: 20px;
        padding: 20px;
        column-gap: 5px;
        row-gap: 5px;
    }

    .serv {
        width: 320px;
        height: auto;
        padding-right: 30px;
        padding-left: 0px;
    }


    .serv:nth-child(1) {
        grid-row-start: span 1;
        grid-column-start: span 1;
    }

    .serv:nth-child(2) {
        grid-row-start: span 1;
        grid-column-start: span 1;
    }

    .serv:nth-child(4) {
        grid-row-start: span 1;
        grid-column-start: span 1;
    }

    .serv:nth-child(5) {
        grid-row-start: span 1;
        grid-column-start: span 1;
    }

    .tituloHoteles {
        font-size: 18px;
    }
}