@mixin flex($align, $justify) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
}

@mixin navbar($text, $justify, $gap) {
    display: flex;
    text-decoration: $text;
    justify-content: $justify;
    gap: $gap;
}


@mixin display-flex ($justify, $align, $width, $height){
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}