/*COLORES*/
$color-slate-50:#f8fafc;
$color-slate-100:#E4E4E4;
$color-slate-200:#444647;
$color-slate-300:#000509;

$color-blue-50:rgb(131, 131, 240);
$color-blue-100:rgb(90, 90, 246);
$color-blue-200:rgb(41, 41, 246);
$color-blue-300:rgb(6, 6, 132);

/*FONT FAMILY*/
$title-font:'Gabarito', sans-serif;
$p-font:'Roboto Serif', serif;;

/*FONT SIZES*/
$font-xs:1rem;
$font-md:1.25rem;
$font-xl:1.875rem;
$font-xl2:2.5rem;
$font-xl3:3.125rem;

/*FONT WEIGHTS*/
$font-thin:100;
$font-semibold:400;
$font-extrabold:900;

