main {
    .caja {
        width: 100%;
        height: auto;
        padding: 30px;
        background-color: #8483865d;

        p {
            text-align: center;
            color:black;
            font-size: 20px;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
    }

    form {
        width: 100%;
        height: 100%;
        background-color: black;
        padding: 30px;

        h2{
            color: white;
        }

        input {
            width: 100%;
            font-size: 20px;
            background-color: transparent;
            border: none;
            border-bottom: 4px solid white;
            color: white;
        }

        textarea {
            width: 100%;
            font-size: 20px;
            background-color: transparent;
            border: none;
            border-bottom: 4px solid white;
            color: white;
        }

        input::placeholder {
            color: #fbfcfc;
        }

        textarea::placeholder {
            color: #fbfcfc;
        }

        textarea::placeholder {
            color: #fbfcfc;
        }

        #inviar {
            background-color: rgba(0, 0, 255, 0.562);
            font-size: 25px;
            border: 2px solid white;
            padding: 5px;

            &:hover{
                background-color: white;
                color: black;
            }

        }
    }

}