footer {
  width: 100%;
  height: auto;
  background-color: black;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;

  p {
    font-size: 18px;
    color: white;
    text-align: center;
    padding-top: 50%;
    padding-bottom: 50%;
  }

  .items {
    width: 15.625rem;
    height: 100%;

  }
}

