.tituloPrincipal {
    width: 100%;
    height: 200px;
    text-align: center;
    padding: 3.125rem;
    background-color: black;

    h2 {
        font-size: 2.5rem;
        color: #F18A00;
    }

    .btn-general {
        display: flex;
        align-items: center;
        justify-content: center;

        :hover {
            background-color: white;
            color: #F18A00;
        }


        button {
            background-color: transparent;
            width: 200px;
            height: 50px;
            margin: 30px;
            box-sizing: content-box;
            border: solid white 4px;
            padding: 2px;


            p {
                text-align: center;
                color: white;
                font-size: 1.25rem;
            }

            a {
                text-decoration: none;
                color: white;

            }

        }
    }

}

.titulo-ofertas {
    width: 100%;
    height: 170px;
    text-align: center;
    padding: 10px;
    background-color: black;

    h2 {
        color: #F18A00;
        font-size: 40px;
    }

    p {
        color: #F18A00;
        font-size: 1.875rem;
    }
}

.flex-container {
    background-color: #fbfcfc;
    width: 100%;
    height: 100%;
    padding: 50px;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content:center;

    .item {
        width: 400px;
        height: 100%;
        text-align: center;
        margin: 10px;
    
        img {
            width: 100%;
            height: 100%;
            border-radius: 15%;
            box-shadow: 5px 8px 12px rgb(80, 77, 77);
        }
    }
    h3{
        font-size: 30px;
    }
    p{
        font-size: 25px;
    }
}
