.titulo-excursiones {
    background-color: #0f0f0e;
    text-align: center;
    color: #d2d904;
    font-size: 20px;
  }

  @media (max-width: 425px){
  header{
    h1{
      padding-top: 150px;
      font-size: 30px;
    }

  }
  }