main {

    .t-galeria {
        text-align: center;

    }

    .contenedor-galeria {
        width: 100%;
        height: auto;


    }

    .section-ofertas {
        width: 100%;
        height: 200px;
        background-color: #0f0f0e;
        text-align: center;

        h2 {
            text-align: center;
            color: #fbfcfc;
            font-size: 30px;
        }


    }

    .text-color {
        color: black;
        font-weight: 800;
    }

    .btn-reserva {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #0f0f0e;

        :hover {
            background-color: white;
            color: #F18A00;
        }

        button {
            background-color: transparent;
            width: 200px;
            height: 50px;
            margin: 30px;
            box-sizing: content-box;
            border: solid white 4px;
            padding: 2px;

            p {
                text-align: center;
                color: white;
                font-size: 1.25rem;
            }

            a {
                text-decoration: none;
                color: white;

            }
        }

    }


    .serv img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .contenedor-grid {
        display: grid;
        grid-auto-rows: 150px;
        grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
        margin: 20px;
        padding: 20px;
        column-gap: 5px;
        row-gap: 5px;

        .serv:nth-child(1) {
            grid-row-start: span 3;
            grid-column-start: span 1;
        }

        .serv:nth-child(2) {
            grid-row-start: span 2;
            grid-column-start: span 1;
        }

        .serv:nth-child(4) {
            grid-row-start: span 3;
            grid-column-start: span 1;
        }

        .serv:nth-child(5) {
            grid-row-start: span 2;
            grid-column-start: span 1;
        }

    }

    .t-secundario {
        text-align: center;
    }

}